@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-feature-settings: normal;
    font-family: TT Commons Pro, Arial, sans-serif;
    font-variation-settings: normal;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    scroll-behavior: smooth;
}

.hover\:neon-glow:hover {
    box-shadow: 0 0 20px rgba(238, 82, 255, 0.7),
        0 0 40px rgba(238, 82, 255, 0.7), 0 0 60px rgba(238, 82, 255, 0.7);
}

.styledScrollBar::-webkit-scrollbar {
    width: 8px;
}

.styledScrollBar::-webkit-scrollbar-track {
    background: transparent;
}

.styledScrollBar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.styledScrollBar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (min-width: 768px) {
    .md\:col-span-2 {
        grid-column: span 2 / span 2;
    }
    .md\:col-span-1 {
        grid-column: span 1 / span 1;
    }
    .md\:row-span-2 {
        grid-row: span 2 / span 2;
    }
    .md\:row-span-1 {
        grid-row: span 1 / span 1;
    }
    .md\:row-span-5 {
        grid-row: span 5 / span 5;
    }
}

/* Blog custom classes */
/* styles/globals.css */
.prose img {
    max-width: 100%;
    border-radius: 0.5rem;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.prose ul,
.prose ol {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.prose blockquote {
    margin: 1.5rem 0;
    padding-left: 1rem;
    border-left: 4px solid currentColor;
}

.prose code, pre {
    background: rgb(57, 0, 0);
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    width: fit-content;
    color: white;
    margin: 0.75rem 0;
}

.about-me-section-bg-pattern {
    background-image: url('data:image/svg+xml,%3Csvg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"%3E%3Cline x1="0" y1="0" x2="100" y2="100" stroke="gray" stroke-width="1"/%3E%3Cline x1="100" y1="0" x2="0" y2="100" stroke="gray" stroke-width="1"/%3E%3Cline x1="0" y1="50" x2="100" y2="50" stroke="gray" stroke-width="1"/%3E%3Cline x1="50" y1="0" x2="50" y2="100" stroke="gray" stroke-width="1"/%3E%3C/svg%3E');
    background-size: cover;
}