@tailwind base;
@tailwind components;
@tailwind utilities;

.cursor {
    position: fixed;
    width: 10rem;
    height: 10rem;
    background-color: black;
    border-radius: 50%;
    pointer-events: none;
}

